:root {
    --text: #08120d;
    --background: #f5faf7;
    --primary: #62b77d;
    --secondary: #a4d5d2;
    --accent: #81b9c5;

    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-weight: 300;
    width: 95%;
    margin: auto;
    padding-bottom: 10vh;
}

hr {
    border: 0.1px solid black;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
}

form {
    box-sizing: border-box;
    width: 80%;
    margin: 30px auto 5px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

form>div label {
    font-size: 1.5rem;
    margin-left: 10px;
}

#task-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1.5px solid black;
    border-radius: 1.2rem;
    margin: 10px 0;
    height: 2rem;
    padding: 0 1.2rem;
    font-size: 1.3rem;
}

#task-input:user-invalid {
    border: 1.5px solid red;
}

form fieldset {
    position: relative;
    margin-top: 4px;
    margin-left: 5px;
}

form fieldset legend {
    position: absolute;
    top: 2px;
}

#priority-radios {
    margin-left: 90px;
}

form button[type="submit"] {
    box-sizing: border-box;
    background-color: var(--primary);
    color: white;
    border: none;
    height: 2.5rem;
    border-radius: 2.5rem;
    padding: 0 15px;
    width: 200px;
    margin-right: 5px;

    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;

    border-bottom: 4px solid #538e66;
}

form button[type="submit"]:hover {
    cursor: pointer;
}

form button[type="submit"]:active {
	border-top: 3px solid #467956;
	border-bottom: none;
	background-color: #56a870;
	color: #f2f2f2;
}

#add-text {
    flex: 1;
}

#lists {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: start;
    justify-content: space-evenly;
}

#lists article {
    flex: 1;
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 5px;
    margin: 0 14px;
    min-height: 200px;
    max-width: 500px;
}

#lists article h2 {
    font-size: 1.2rem;
    height: 3.5rem;
}

#lists #high-priority-tasks {
    background-color: #eabfbf;
}

#lists #medium-priority-tasks {
    background-color: #f2f0cf;
}

.task-item {
    --container-height: 1.8rem;

    display: flex;
    align-items: start;
    gap: 8px;
    font-size: 1.2rem;
    line-height: var(--container-height);
    margin-bottom: 1rem;
}

.task-item[hidden] {
    display: none;
}

@keyframes remove-task {
    from {
        opacity: 1;
    }

    40% {
        margin-bottom: 1rem;
        max-height: 4rem;
    }

    to {
        opacity: 0;
        margin-bottom: 0;
        max-height: 0;
    }
}

.task-item button {
    box-sizing: border-box;
    width: calc(var(--container-height) - 4px);
    height: calc(var(--container-height) - 4px);
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 2px;
    align-self: flex-start;
    margin-top: 1px;
    position: relative;
}

.task-item button:hover {
    cursor: pointer;
}

.task-item button span {
	font-size: 3rem;
	position: absolute;
	left: -0.6rem;
	top: -0.9rem;
    overflow: hidden;
    width: 0;
}

@keyframes check-task {
    from {
        width: 0;
    }

    to {
        width: 3rem;
    }
}

.task-item p {
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 4px;
    min-height: 2rem;
    position: relative;
    overflow: hidden;
}

.task-item p::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-content);
    color: transparent;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: var(--text);
    width: 100%;
    text-align: justify;
    pointer-events: none;
    transform: translateX(-100%);
}

@keyframes cross-task {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.task-item.new {
    animation-name: remove-task;
    animation-duration: 0.7s;
    animation-direction: reverse;
}

.task-item.finished {
    animation-name: remove-task;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.task-item.finished button:hover {
    cursor: default;
}

.task-item.finished button span {
    animation-name: check-task;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.task-item.finished p::after {
    animation-name: cross-task;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
}

@media (max-width: 1200px) {
    #lists {
        display: block;
    }

    #lists article {
        margin: 14px auto;
    }
}

@media (max-width: 800px) {
    form {
        display: block;
    }

    form button[type="submit"] {
        display: flex;
        margin: 10px auto 0 auto;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 3vw;
    }

    .material-symbols-outlined {
        font-size: 100%;
    }

    form {
        width: 100%;
        margin: 1rem auto;
        padding: 5px 20px;
    }

    #task-input {
        margin: 0.5rem 0;
    }

    #priority-radios {
        margin-left: 0;
        margin-top: 1.2rem;
    }

    form button[type="submit"] {
        width: 38vw;
    }

    #lists article {
        margin: 10px auto;
    }

    .task-item p {
        line-height: 1.5rem;
    }
}
