:root {
    --text: #08120d;
    --background: #f5faf7;
    --primary: #62b77d;
    --secondary: #a4d5d2;
    --accent: #81b9c5;

    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-weight: 300;
    width: 95%;
    margin: auto;
}

hr {
    border: 0.1px solid black;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
}

form {
    box-sizing: border-box;
    width: 80%;
    margin: 30px auto 5px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form div {
    width: 100%;
}

form label[for="task-input"] {
    font-size: 1.5rem;
}

#task-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1.5px solid black;
    border-radius: 20px;
    margin: 10px 0;
    height: 2rem;
    padding: 0 20px;
    font-size: 1.3rem;
}

form fieldset {
    position: relative;
}

form fieldset legend {
    position: absolute;
}

#priority-radios {
    margin-left: 85px;
}

button[type="submit"] {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);
}

main {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 10px;
    min-height: 300px;
}

section {
    flex: 1;
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 5px;
    margin: 0 8px;
}

section h2 {
    font-size: 1.2rem;
    height: 2rem;
}

article {
    --container-height: 25px;

    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    line-height: var(--container-height);
}

article button {
    box-sizing: border-box;
    width: var(--container-height);
    height: var(--container-height);
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 2px;
}

article button:hover {
    cursor: pointer;
}

article p {
    flex: 1;
    border-bottom: 1px solid black;
    padding: 0 4px;
}
